<div class="main">
    <div class="left">
        <div *ngIf="username" class="name">{{username}}</div>
        <div *ngIf="!username" class="name">Your name</div>
        <div class="me"></div>
        <div class="label">Public rooms</div>
        <div class="rooms">
          <div class="room">Global public room</div>
        </div>
        <div class="label">Connected users</div>
        <div class="members-list"></div>
      </div>
      <div class="right">
        <div class="chat-title">Global public room</div>
        <div class="messages">
          <ul>
            <li *ngFor="let message of messages">{{ message.text }}</li>
          </ul>
          <!-- <pre id="output"></pre> -->
        </div>
        <form class="message-form" onsubmit="return false;">
          <input id="input" class="message-form__input" [(ngModel)]="message" name="message" placeholder="Type a message.." type="text" />
          <input (click)="send()" class="message-form__button" value="Send" type="submit" />
        </form>
      </div>
      <div class="auth-button">
        <a routerLink="/sign-in"><button>Sign In</button></a>
      </div>   
</div>

